@import "tailwindcss";

:root {
  --bg: #1a1a1a;
  --text: #e5e5e5;
  --accent: #0ea5e9;
  --accent-rgb: 14, 165, 233;
  --selection: #374151;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #f3f0e6;
    --text: #2c2a28;
    --accent: #c47f17;
    --accent-rgb: 196, 127, 23;
    --selection: #e9d8a6;
  }
}

.theme-crimson {
  --bg: #1e0e14;
  --text: #f5e9f0;
  --accent: #dc2626;
  --accent-rgb: 220, 38, 38;
  --selection: #0ea5e9;
}

.theme-charcoal {
  --bg: #1a1a1a;
  --text: #e5e5e5;
  --accent: #0ea5e9;
  --accent-rgb: 14, 165, 233;
  --selection: #374151;
}

.theme-sunlight {
  --bg: #f3f0e6;
  --text: #2c2a28;
  --accent: #c47f17;
  --accent-rgb: 196, 127, 23;
  --selection: #e9d8a6;
}

.theme-neon {
  --bg: #fefae0;
  --text: #1c1b1f;
  --accent: #facc15;
  --accent-rgb: 250, 204, 21;
  --selection: #fde68a;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  transition: color 500ms;
  transition: background-color 1700ms;
}

body::selection {
  color: var(--text);
  background-color: var(--selection);
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: pink;
  border-radius: 40px;
}

.specific::selection {
  color: var(--accent);
}

.shadow {
  box-shadow: 0 0 12px 0px var(--accent);
}

:root {
  --glint-bg: radial-gradient(circle at center,
      rgba(14, 165, 233, 0.05),
      rgba(26, 26, 26, 0));
}

@media (prefers-color-scheme: light) {
  :root {
    --glint-bg: radial-gradient(circle at center,
        rgba(196, 127, 23, 0.07),
        rgba(243, 240, 230, 0));
  }
}

.theme-crimson {
  --glint-bg: radial-gradient(circle at center,
      rgba(220, 38, 38, 0.11),
      rgba(30, 14, 20, 0.4));
}

.theme-charcoal {
  --glint-bg: radial-gradient(circle at center,
      rgba(14, 165, 233, 0.05),
      rgba(26, 26, 26, 0));
}

.theme-sunlight {
  --glint-bg: radial-gradient(circle at center,
      rgba(204, 207, 27, 0.1),
      rgba(243, 240, 230, 0.11));
}

.theme-neon {
  --glint-bg: radial-gradient(circle at center,
      rgba(0, 0, 0, 0.07),
      rgba(254, 250, 224, 0));
}