@import "tailwindcss";

:root {
  --bg: #1a1a1a;
  --text: #e5e5e5;
  --accent: #0ea5e9;
  --selection: #374151;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #f3f0e6;
    --text: #2c2a28;
    --accent: #c47f17;
    --selection: #e9d8a6;
  }
}

.theme-crimson {
  --bg: #1e0e14;
  --text: #f5e9f0;
  --accent: #dc2626;
  --selection: #0ea5e9;
}

.theme-charcoal {
  --bg: #1a1a1a;
  --text: #e5e5e5;
  --accent: #0ea5e9;
  --selection: #374151;
}

.theme-sunlight {
  --bg: #f3f0e6;
  --text: #2c2a28;
  --accent: #c47f17;
  --selection: #e9d8a6;
}

.theme-neon {
  --bg: #fefae0;
  --text: #1c1b1f;
  --accent: #facc15;
  --selection: #fde68a;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  transition: color 500ms;
  transition: background-color 1700ms;
}

body::selection {
  color: var(--text);
  background-color: var(--selection);
}

.specific::selection {
  color: var(--accent);
}

.shadow {
  box-shadow: 0 0 12px 0px var(--accent);
}