/* Typography Setup */
@reference './globals.css';

h1 {
    @apply text-4xl font-bold mb-4;

}

h2 {
    @apply text-3xl font-semibold
}

h3 {
    @apply text-2xl font-medium
}

p {
    @apply text-base leading-relaxed mb-4;
}

a {
    @apply hover:underline;
}

ul {
    @apply list-inside;
}

code {
    @apply font-mono px-1 rounded;
}

table {
    @apply w-full border;
}

th,
td {
    @apply px-4 py-2 border;
}

/* Layout Helpers */
body {
    @apply bg-[var(--bg)]
}

.container {
    @apply w-full max-w-[1280px] mx-auto px-4;
}

.grid-layout {
    @apply grid grid-cols-1 md:grid-cols-12 gap-4;
}

.content-area {
    @apply col-span-full md:col-span-8 md:col-start-3;
}

.section {
    @apply mb-12 grid sm:grid-cols-7;
}

.section h2 {
    @apply mb-5 sm:mb-0;
}

.navbar {
    left: 50%;
    transform: translateX(-50%);
    background: rgba(var(--accent-rgb), 0.19);
    border: 1px solid rgba(var(--accent-rgb), 0.57);
    /* frosted glass from From https://css.glass */
}

.boxShadow {
    box-shadow: 0px 0px 30px 2px rgba(var(--accent-rgb), 0.2);
}

i {
    color: var(--accent);
    font-size: 30px;
    max-width: max-content;
}

.reactOut a:hover {
    @apply no-underline;
}