/* Typography Setup */
@reference './globals.css';

h1 {
    @apply text-4xl font-bold mb-4;

}

h2 {
    @apply text-3xl font-semibold
    /* mb-3; */
}

h3 {
    @apply text-2xl font-medium
}

p {
    @apply text-base leading-relaxed mb-4;
}

a {
    @apply hover:underline;
}

ul {
    @apply list-inside;
}

code {
    @apply font-mono px-1 rounded;
}

table {
    @apply w-full border;
}

th,
td {
    @apply px-4 py-2 border;
}

/* Layout Helpers */
body {
    @apply bg-[var(--bg)]
}

.container {
    @apply w-full max-w-[1280px] mx-auto px-4;
}

.grid-layout {
    @apply grid grid-cols-1 md:grid-cols-12 gap-4;
}

.content-area {
    @apply col-span-full md:col-span-8 md:col-start-3;
}
section {
    @apply mb-12
}
.fade-in {
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(10px);
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* .fade-in {
    opacity: 0;
    transform: scale(0.98) translateY(10px);
    transition: all 0.4s ease-in-out;
}

.fade-in.show {
    opacity: 1;
    transform: scale(1) translateY(0); } */

